<a href="https://colab.research.google.com/github/Edivaldo16/planilhas_excel_python/blob/master/Trabalhando_com_planilhas_excel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Trabalhando com Planilhas no Excel

In [ ]:
# Importando a Biblioteca 

import pandas as pd

In [ ]:
# Leitura dos arquivos

df1 = pd.read_excel("Aracaju.xlsx")
df2 = pd.read_excel("Fortaleza.xlsx")
df3 = pd.read_excel("Manaus.xlsx")
df4 = pd.read_excel("Ipojuca.xlsx")
df5 = pd.read_excel("Cabo.xlsx")

In [ ]:
# Juntando todos os arquivos

df = pd.convat([df1, df2, df3, df4, df5])

In [ ]:
# Exibindo as 5 primeiras linhas

df.head()

In [ ]:
# Exibindo as 5 últimas linhas

df.tail()

In [ ]:
# Exibindo o tipo de dado de uma determinada coluna

df.dtypes

In [ ]:
# Alterando tipo de dado de uma determinada coluna

df["LojaID"] = df["LojaID"].astype("object")

## Tratando valores faltantes

In [ ]:
# Consultando linhas com valores faltantes

df.isnull().sum()

In [ ]:
# Substituindo os valores nulos pela média

df["Vendas"].fillna(df["Vendas"].mean()) # substiuição do obejto só nessa célula
df["Vendas"].fillna(df["Vendas"].mean(), inplace = True) # substiuição do obejto em memória

In [ ]:
# Substituindo os valores nulos por zeros

df["Vendas"].fillna(0, inplace = True) # substiuição do obejto em memória

In [ ]:
# Apagando as linhas com valores nulos

df.dropna(inplace=True)

In [ ]:
# Apagando as linhas com valores nulos com base apenas em uma coluna

df.dropna(subset=["Vendas"],inplace = True)

In [ ]:
# Removendo linhas que estejam com valores faltantes em todas as colunas

df.dropna(how='all',inplace = True)

## Criando Novas Colunas

In [ ]:
# Criando colunas através do produto de outras colunas

df["Receitas"] = df["Vendas"].mul(df["Qtde"]) #ou
df["Receitas"] = df["Vendas"]*df["Qtde"]

In [ ]:
# Criando colunas através da divisão de outras colunas

df["Receitas/Vendas"] = df["Receitas"]/df["Vendas"]

In [ ]:
# Retornando o maior valor de uma coluna 

df["Receitas"].max()

In [ ]:
# Retornando o menor valor de uma coluna 

df["Receitas"].min()

In [ ]:
# Comando que traz os maiores valores de uma deternimada coluna 'variável'.nlargest(quantidade, "Coluna")

df.nlargest(3, "Receitas")

In [ ]:
# Comando que traz os menores valores de uma deternimada coluna 'variável'.nsmallest(quantidade, "Coluna")

df.nsmallest(3, "Receitas")

In [ ]:
# Agrupamento por cidade

df.groupby("Cidade")["Receita"].sum()

In [ ]:
# Ordenando o conjunto de dados

df.sort_values("Receita", ascending = False).head(10) # O comando ascending = false, retorna os valores do menor para o maior